<div class="dropdown d-flex justify-content-center m-auto">
  <button class="btn btn-outline-dark dropdown-toggle w-25 mt-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{#if this.selected}}
    {{this.selected}}
    {{else}}
    排序方式
    {{/if}}
  </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/records/sort?type=date:asc:日期(A-Z)">日期(A-Z)</a></li>
      <li><a class="dropdown-item" href="/records/sort?type=date:desc:日期(Z-A)">日期(Z-A)</a></li>
      <li><a class="dropdown-item" href="/records/sort?type=amount:asc:金額(A-Z)">金額(A-Z)</a></li>
      <li><a class="dropdown-item" href="/records/sort?type=amount:desc:金額(Z-A)">金額(Z-A)</a></li>
      <li><a class="dropdown-item" href="/records/sort?type=categoryId:asc:類別">類別</a></li>
    </ul>
</div>
<div class="w-25 d-flex justify-content-between mt-3 m-auto">
  <small>Total Amount:</small>
  <h1 class="text-danger d-inline">{{totalAmount}}</h1>
</div>
<ul class="list-group list-group-flush w-50 mt-5 m-auto rounded-3 shadow">
  {{#each record}}
    <li class="list-group-item">
      <div class="row">
        <h1 class="{{this.icon}} col-sm-1"></h1>
        <div class="col-sm-8">
          <h4>{{this.name}}</h4>
          <small>{{#checkDate this.date}}{{date}}{{/checkDate}}</small>
        </div>
        <h4 class="col-sm-1 float-end">{{this.amount}}</h4>
        <div class="col-sm-2">
          <a class="btn btn-outline-success" href="/records/{{ this._id }}/edit">edit</a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete" type="button">delete</button>
            <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="confirmDeleteLabel">您確定要刪除嗎</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body d-flex justify-content-between">
                    <div>
                      <h4>{{this.name}}</h4>
                      <small>{{#checkDate this.date}}{{date}}{{/checkDate}}</small>
                    </div>
                    <h4>{{this.amount}}</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">確定刪除</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
<div class="container d-flex justify-content-center">
  <a href="/records/new" class="btn btn-outline-warning w-25 mt-5">新增支出</a>
</div>
